@charset "UTF-8";
/*Utils*/
/*SIZE*/
/*-------------------------------*/
/*SIZE RESPONSIVE*/
/*PADDING*/
/*ohmyfood-title and input*/
/* list: nth($nomdelaliste, position de la valeur souhaité)*/
/*list*/
/*restau-legend-text*/
/*menu*/
/*-------------------------------*/
/*PADDING RESPONSIVE*/
/*-------------------------------*/
/*MARGIN*/
/*-------------------------------*/
/*MARGIN RESPONSIVE*/
/*xsm*/
/*sm*/
/*-------------------------------*/
/*BORDER-RADIUS*/
/*-------------------------------*/
/*COLOR*/
/*-------------------------------*/
/*HEIGHT BLOC*/
/*HEIGHT RESPONSIVE*/
/*-------------------------------*/
/*ANIMATION*/
/*-------------------------------*/
/*RESPONSIVE*/
/*BUTTON*/
/*-------------------------------*/
/*------------------------------*/
/*MEDIAS QUERIES*/
/*x-small*/
/*small*/
/*medium*/
/*x-large*/
/*-------------------------*/
/*RESPONSIVE MIXIN*/
/*button*/
/*footer*/
/*animation pour la chexk box*/
@keyframes check-box {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
    margin: 0;
  }
}
@keyframes txt-box {
  from {
    transform: scaleX(1.01);
  }
  to {
    transform: scaleX(1);
  }
}
/*Animation des blocs menu-content*/
@keyframes content-anim {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
/*Animation pour faire apparaitre la main page de index.html*/
@keyframes bloc-main {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
/*Animation pour les dots*/
@keyframes loading-spinner {
  from {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2.5);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
/*Animation du texte du loading spinner*/
@keyframes txt-loading {
  from {
    opacity: 0;
    transform: translateX(-101%) scaleY(0);
  }
  5% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    transform: translateX(0) scaleY(1);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0.75;
    transform: translateX(0);
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.25;
  }
  to {
    opacity: 0;
    transform: translateX(101%) scaleY(0);
  }
}
/*Faire disparaitre le loading spinner*/
@keyframes bye-loading {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
    transform: translateX(-100vh);
  }
}
/*Base-(police, font-size)*/
* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@font-face {
  font-family: "shrikhandregular";
  src: url("../font/shrikhand-regular-webfont.woff2") format("woff2"), url("../font/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../font/roboto-regular-webfont.woff2") format("woff2"), url("../font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "robotoregular";
  width: auto;
}

body .bloc__loading-spinner {
  position: fixed;
  top: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(-100vh);
  animation: bye-loading 1000ms 3500ms;
}
body .bloc__loading-spinner__txt {
  font-family: "shrikhandregular";
  display: inline-block;
  text-align: center;
  width: 40%;
  overflow: hidden;
  margin: 0 auto;
  width: 160px;
}
@media screen and (min-width: 992px) {
  body .bloc__loading-spinner__txt {
    width: 250px;
  }
}
body .bloc__loading-spinner__txt span {
  background-color: rgba(19, 19, 19, 0.863);
  color: white;
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
  border: #6e6e6e solid 0.2rem;
  border-radius: 50%;
  transform-origin: left;
  transform: translateX(-101%) scaleY(0);
  opacity: 0;
  animation: txt-loading 3000ms 500ms ease-in-out;
  animation-fill-mode: both;
}
@media screen and (min-width: 992px) {
  body .bloc__loading-spinner__txt span {
    font-size: 1.9rem;
  }
}
body .bloc__loading-spinner__content {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
}
body .bloc__loading-spinner__content1 {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  animation-fill-mode: both;
  transform: scale(0);
  margin-right: 1rem;
  background: linear-gradient(to right, #fface8, 30%, #ff79da);
  animation: loading-spinner 1550ms 100ms 2 ease-in-out;
}
body .bloc__loading-spinner__content2 {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  animation-fill-mode: both;
  transform: scale(0);
  margin-right: 1rem;
  background: linear-gradient(to right, #ff79da, 30%, #9356dc);
  animation: loading-spinner 1550ms 500ms 2 ease-in-out;
}
body .bloc__loading-spinner__content3 {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  animation-fill-mode: both;
  transform: scale(0);
  background: linear-gradient(to right, #9356dc, 40%, #7129c7);
  animation: loading-spinner 1550ms 800ms 2 ease-in-out;
}
body .bloc__main {
  animation: bloc-main 500ms 4000ms;
  animation-fill-mode: both;
  opacity: 1;
}

main button {
  font-size: 1.08rem;
  font-family: "robotoregular";
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  main button {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 992px) {
  main button {
    font-size: 1.2rem;
  }
}
main input {
  font-size: 1.08rem;
}

@media screen and (min-width: 992px) {
  .main__pages {
    margin: 0 auto;
    width: 992px;
  }
}

h1 {
  font-family: "shrikhandregular";
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.1rem;
}

.footer__title {
  font-family: "shrikhandregular";
}

/*Components(composants)*/
/*input*/
.localisation {
  display: flex;
  padding: 1rem 0rem;
  justify-content: center;
  background-color: #eeebe3;
  box-shadow: inset 0rem 0.2rem 0.15rem #ddd7c6;
}
.localisation__form {
  width: 80%;
}
.localisation__content {
  margin: 0;
  display: flex;
  justify-content: center;
}
.localisation__icone {
  display: block;
  font-size: 1.08rem;
  position: relative;
  bottom: 0.3rem;
  left: 1.2rem;
  margin-right: 2.5rem;
  color: #5f5f5f;
}
.localisation__input {
  border: none;
  background-color: #eeebe3;
  width: 9rem;
  position: relative;
  right: 0.5rem;
}
.localisation__input::placeholder {
  color: #5f5f5f;
  font-weight: 600;
}

/*button*/
@media screen and (min-width: 450px) {
  .accueil__btn {
    width: 330px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .accueil__btn {
    margin: 0 auto;
    width: 235px;
  }
}
@media screen and (min-width: 992px) {
  .accueil__btn {
    width: 400px;
  }
}
.accueil__btn__elemnt {
  width: 65%;
  position: relative;
  padding: 0.8rem 0.6rem;
  border-radius: 5rem;
  border: none;
  background: linear-gradient(-5deg, #9356dc 15%, #ff79da);
  color: white;
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.123);
  outline-style: none;
  z-index: 1;
}
.accueil__btn__elemnt:hover .accueil__btn__elemnt__bgd {
  opacity: 1;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .accueil__btn__elemnt {
    width: 80%;
  }
}
.accueil__btn__elemnt__bgd {
  background: linear-gradient(-5deg, #bc95e9 15%, #ffc6ef);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  border-radius: 5rem;
  transition: opacity 1000ms;
}

.menu__button {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
  position: relative;
}
@media screen and (min-width: 450px) {
  .menu__button {
    margin: 0 auto;
    width: 400px;
  }
}
.menu__button__elemnt {
  width: 53%;
  position: relative;
  padding: 0.8rem 0.6rem;
  border-radius: 5rem;
  border: none;
  background: linear-gradient(-5deg, #9356dc 15%, #ff79da);
  color: white;
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.123);
  outline-style: none;
  z-index: 1;
}
.menu__button__elemnt:hover .menu__button__elemnt__bgd {
  opacity: 1;
}
.menu__button__elemnt__bgd {
  background: linear-gradient(-5deg, #bc95e9 15%, #ffc6ef);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  border-radius: 5rem;
  transition: opacity 1000ms;
}

/*Layout*(les blocs BEM, ex: header et footer)*/
.header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;
}
@media screen and (min-width: 992px) {
  .header--header__pages {
    margin: 0 auto;
    width: 992px;
  }
}
.header a:visited {
  color: black;
}
.header__arrow {
  height: 100%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  position: absolute;
  left: 1.8rem;
  bottom: 0.1rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .header__arrow {
    font-size: 1.1rem;
    left: 1rem;
  }
}
.header__title {
  margin: 0;
  padding: 1rem 0rem;
  text-align: center;
}

.footer {
  background-color: #202020;
  color: white;
  padding: 0.7rem 0 1rem 1.5rem;
}
@media screen and (min-width: 450px) {
  .footer {
    text-align: center;
    padding: 0.7rem 0 1rem 0;
  }
}
.footer__title {
  font-weight: normal;
  font-size: 1.15rem;
}
@media screen and (min-width: 769px) {
  .footer__title {
    font-size: 1.5rem;
  }
}
.footer__ul {
  list-style-type: none;
  padding: 0;
}
.footer__li {
  padding-bottom: 0.6rem;
  font-size: 1rem;
  transition: all 500ms;
}
@media screen and (min-width: 769px) {
  .footer__li {
    font-size: 1.2rem;
  }
}
.footer__li:hover {
  color: #99e2d0;
  transform: scaleY(1.2);
}
.footer__li a {
  text-decoration: none;
  color: white;
  display: block;
}
.footer__li a:hover {
  color: #99e2d0;
}
.footer__li-icone {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.8rem;
  transform: rotate(-15deg);
}
@media screen and (min-width: 450px) {
  .footer__li-icone {
    margin-right: 0.25rem;
  }
}
@media screen and (min-width: 769px) {
  .footer__li-icone {
    font-size: 0.9rem;
  }
}
.footer__li-icone--spé {
  margin-right: 1.16rem;
  transform: rotate(0deg);
}
@media screen and (min-width: 450px) {
  .footer__li-icone--spé {
    margin-right: 0.5rem;
  }
}

/*Pages*/
/*Accueil*/
.accueil {
  background-color: #f7f7f0;
  text-align: center;
  padding: 0 1.5rem 4rem;
}
.accueil__title {
  margin-top: 0;
  padding: 2.5rem 1rem 0;
  font-weight: bolder;
}
.accueil__content {
  margin-bottom: 2.2rem;
  color: #5f5f5f;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .accueil__content {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .accueil__content {
    font-size: 1.3rem;
  }
}

/*Fonctionnement*/
@media screen and (min-width: 450px) {
  .wrapper__operation {
    margin: 0 auto;
    width: 400px;
  }
}
.wrapper__operation .operation {
  padding: 2rem 1rem 2rem 1.8rem;
  background-color: white;
}
@media screen and (min-width: 769px) {
  .wrapper__operation .operation {
    padding: 2rem 1rem 0 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__operation .operation {
    padding: 2rem 1rem 2rem 1.8rem;
  }
}
@media screen and (min-width: 769px) {
  .wrapper__operation .operation__title {
    position: relative;
    right: 6rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__operation .operation__title {
    text-align: center;
    right: 0.5rem;
  }
}
.wrapper__operation .operation__bloc {
  background-color: #f7f7f0;
  display: flex;
  align-items: center;
  box-shadow: 0rem 0rem 0.6rem 0.3rem #f7f7f0;
  border-radius: 1.2rem;
  margin-bottom: 2.5rem;
  position: relative;
}
.wrapper__operation .operation__bloc-content {
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.123);
  background-color: #f7f7f0;
  display: flex;
  align-items: center;
  width: 98%;
  border-radius: 1.2rem;
  transition: background-color, 1100ms;
}
.wrapper__operation .operation__bloc-content:hover {
  background-color: #9256dc2f;
}
.wrapper__operation .operation__bloc-content:hover .operation__bloc-content-icone {
  color: #9356dc;
}
.wrapper__operation .operation__bloc-content-number {
  font-size: 1rem;
  background-color: #9356dc;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin-right: 0.6rem;
  position: relative;
  right: 0.8rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .wrapper__operation .operation__bloc-content-number {
    height: 1.2rem;
    width: 1.2rem;
    right: 0.5rem;
    font-size: 0.7rem;
  }
}
.wrapper__operation .operation__bloc-content-number span {
  position: absolute;
  left: 0.54rem;
  top: 0.17rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .wrapper__operation .operation__bloc-content-number span {
    left: 0.4rem;
    top: 0.1rem;
  }
}
.wrapper__operation .operation__bloc-content-txt {
  font-size: 1.05rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .wrapper__operation .operation__bloc-content-txt {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__operation .operation__bloc-content-txt {
    font-size: 1.15rem;
  }
}
.wrapper__operation .operation__bloc-content-icone {
  color: #5f5f5f;
  font-size: 1rem;
  margin: 1.5rem 1.5rem 1.5rem 0;
  transition: color 1100ms;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .wrapper__operation .operation__bloc-content-icone {
    font-size: 0.8rem;
    margin: 1.5rem 1rem 1.5rem 0;
  }
}
.wrapper__operation .operation__bloc-content-icone--phone {
  font-size: 1.3rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .wrapper__operation .operation__bloc-content-icone--phone {
    font-size: 1rem;
  }
}

/*Restaurant*/
@media screen and (min-width: 769px) {
  .wrapper__restaurant {
    margin: 0 auto;
    width: 650px;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant {
    margin: 0 auto;
    width: 950px;
  }
}
.wrapper__restaurant .restaurant {
  padding: 2rem 1rem 2rem 1rem;
  background-color: #f7f7f0;
}
@media screen and (min-width: 450px) {
  .wrapper__restaurant .restaurant {
    padding: 2rem 3.5rem 2rem 3.5rem;
  }
}
@media screen and (min-width: 769px) {
  .wrapper__restaurant .restaurant {
    background-color: transparent;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant {
    padding: 1rem;
    background-color: #f7f7f0;
    box-shadow: 0rem 0rem 0.6rem 0.3rem #f7f7f0;
    border-radius: 3rem 3rem 0 0;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__title {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.wrapper__restaurant .restaurant__bloc__content {
  background-color: white;
  overflow: hidden;
  border-radius: 1.2rem;
  margin: 0 0 3rem 0;
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.123);
  position: relative;
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc__content {
    margin: 0 1rem 3rem 1rem;
  }
}
.wrapper__restaurant .restaurant__bloc__content__link {
  display: block;
  color: black;
  position: relative;
}
.wrapper__restaurant .restaurant__bloc__content__link:link {
  text-decoration: none;
}
.wrapper__restaurant .restaurant__bloc__content-img {
  overflow: hidden;
  width: 100%;
  height: 11.2rem;
  position: relative;
}
@media screen and (min-width: 769px) {
  .wrapper__restaurant .restaurant__bloc__content-img {
    height: 17rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc__content-img {
    height: 13rem;
  }
}
.wrapper__restaurant .restaurant__bloc__content-img-etiquette {
  background-color: #99e2d0;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 1;
  font-size: 0.95rem;
  color: #278870;
  padding: 0.4rem 0.9rem;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.322);
  font-weight: bolder;
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc__content-img-etiquette {
    font-size: 1.2rem;
  }
}
.wrapper__restaurant .restaurant__bloc__content-img-etiquette--none {
  display: none;
}
.wrapper__restaurant .restaurant__bloc__content-img-photo {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -52%);
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .wrapper__restaurant .restaurant__bloc__content-img-photo {
    width: 138%;
  }
}
.wrapper__restaurant .restaurant__bloc__content-title {
  display: flex;
  font-size: 1.2rem;
  padding: 1rem;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc__content-title {
    font-size: 1.5rem;
  }
}
.wrapper__restaurant .restaurant__bloc__content-title-legend {
  font-weight: normal;
  color: #5f5f5f;
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc__content-title-legend {
    padding-right: 8rem;
  }
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc__content-title-legend--spe {
    padding-right: 10.6rem;
  }
}
.wrapper__restaurant .restaurant__bloc__content-title-legend strong {
  font-weight: bolder;
  color: black;
}
.wrapper__restaurant .restaurant__bloc__content-title-heart {
  padding-right: 0.2rem;
  font-size: 1.5rem;
  position: relative;
}
@media screen and (min-width: 992px) {
  .wrapper__restaurant .restaurant__bloc__content-title-heart {
    font-size: 1.8rem;
  }
}
.wrapper__restaurant .restaurant__bloc__content-title-heart-icone1 {
  color: white;
  -webkit-text-stroke: 0.08rem black;
  position: absolute;
  opacity: 1;
  transition: opacity 800ms;
}
.wrapper__restaurant .restaurant__bloc__content-title-heart-icone1:hover {
  opacity: 0;
}
.wrapper__restaurant .restaurant__bloc__content-title-heart-icone1:active {
  opacity: 0;
}
.wrapper__restaurant .restaurant__bloc__content-title-heart-icone2 {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image {
  margin: 0;
  width: 100%;
  overflow: hidden;
  height: 16rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .image {
    height: 13rem;
  }
}
@media screen and (min-width: 450px) {
  .image {
    height: inherit;
  }
}
@media screen and (min-width: 769px) {
  .image {
    height: 30rem;
  }
}
@media screen and (min-width: 450px) {
  .image--change {
    height: 25rem;
  }
}
@media screen and (min-width: 769px) {
  .image--change {
    height: 30rem;
  }
}
@media screen and (min-width: 992px) {
  .image--change {
    height: 35rem;
  }
}
.image__photo {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .image__photo {
    transform: translateY(-10%);
  }
}
@media screen and (min-width: 992px) {
  .image__photo {
    transform: translateY(-25%);
  }
}
.image__photo--change {
  transform: translateY(-30%);
}
@media screen and (min-width: 450px) {
  .image__photo--change {
    transform: translateY(-28%);
  }
}
@media screen and (min-width: 769px) {
  .image__photo--change {
    transform: translateY(-35%);
  }
}

.bloc {
  background-color: #f7f7f0;
}
.bloc .menu {
  background-color: #f7f7f0;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  padding-bottom: 0.5rem;
}
.bloc .menu__title {
  font-family: "shrikhandregular";
  font-size: 1.8rem;
  background-color: #f7f7f0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-radius: 2rem 2rem 0 0;
  padding-top: 2rem;
  position: relative;
  bottom: 2.5rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .bloc .menu__title {
    font-size: 1.35rem;
    padding-top: 1.3rem;
  }
}
@media screen and (min-width: 769px) {
  .bloc .menu__title {
    font-size: 2.2rem;
    justify-content: center;
  }
}
.bloc .menu__title__txt {
  margin-left: 1rem;
}
@media screen and (min-width: 769px) {
  .bloc .menu__title__txt {
    margin-left: -10rem;
  }
}
.bloc .menu__heart {
  position: relative;
  bottom: 0.3rem;
  right: 2rem;
  font-family: "robotoregular";
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .bloc .menu__heart {
    right: 1rem;
  }
}
@media screen and (min-width: 769px) {
  .bloc .menu__heart {
    right: -10rem;
  }
}
.bloc .menu__heart__icone1 {
  position: absolute;
  bottom: 0;
  -webkit-text-stroke: 0.08rem black;
  color: #f7f7f0;
  opacity: 1;
  transition: opacity 800ms;
}
.bloc .menu__heart__icone1:hover {
  opacity: 0;
}
.bloc .menu__heart__icone2 {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc .menu__recette {
  padding: 0rem 1rem;
  position: relative;
  bottom: 2rem;
}
@media screen and (min-width: 769px) {
  .bloc .menu__recette {
    margin: 0 auto;
    width: 500px;
  }
}
.bloc .menu__recette__subtitle {
  align-self: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #5f5f5f;
}
.bloc .menu__recette__underscore__icone {
  display: inline-block;
  transform: scale(3, 1);
  position: relative;
  left: 0.9rem;
  bottom: 0.3rem;
  color: #99e2d0;
}
.bloc .menu__recette__content {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.123);
  cursor: pointer;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .bloc .menu__recette__content {
    font-size: 0.85rem;
  }
}
.bloc .menu__recette__content1 {
  opacity: 1;
  transform: translateY(0);
  animation: content-anim 1000ms 100ms;
  animation-fill-mode: both;
}
.bloc .menu__recette__content2 {
  opacity: 1;
  transform: translateY(0);
  animation: content-anim 1000ms 500ms;
  animation-fill-mode: both;
}
.bloc .menu__recette__content3 {
  opacity: 1;
  transform: translateY(0);
  animation: content-anim 1000ms 800ms;
  animation-fill-mode: both;
}
.bloc .menu__recette__content4 {
  opacity: 1;
  transform: translateY(0);
  animation: content-anim 1000ms 1100ms;
  animation-fill-mode: both;
}
.bloc .menu__recette__content:hover .menu__recette__price {
  transform: translateX(0);
  animation: check-box 600ms ease-in-out;
  animation-fill-mode: both;
}
.bloc .menu__recette__content:hover .menu__recette__check {
  transform: translateX(0);
  animation: check-box 600ms;
  animation-fill-mode: both;
}
.bloc .menu__recette__content:hover .menu__recette__check span {
  transform: rotate(3turn);
}
.bloc .menu__recette__text {
  background-color: white;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.6rem 0 0.6rem 1rem;
}
.bloc .menu__recette__text strong {
  font-size: 1.1rem;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .bloc .menu__recette__text strong {
    font-size: 1rem;
  }
}
.bloc .menu__recette__text span {
  color: #5f5f5f;
}
.bloc .menu__recette__price {
  width: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  padding: 0 0.8rem 0.6rem;
  transform: translateX(0);
}
.bloc .menu__recette__check {
  background-color: #99e2d0;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  margin-right: -20%;
}
@media screen and (min-width: 275px) and (max-width: 366px) {
  .bloc .menu__recette__check {
    width: 25%;
    margin-right: -22%;
  }
}
@media screen and (min-width: 450px) {
  .bloc .menu__recette__check {
    margin-right: -21%;
    font-size: 1.3rem;
  }
}
.bloc .menu__recette__check span {
  position: relative;
  right: 0.1rem;
  top: 0.1rem;
  transition: transform 800ms;
}

/*# sourceMappingURL=style.css.map */
