/*input*/
.localisation{
    display: flex;
    padding:nth($padding-title-and-input,1)0rem;
    justify-content: center;
    background-color:$input-color;
    box-shadow:inset 0rem 0.5rem 1rem darken($input-color,10%);
    &__form{
        width: 60%;
    }
    &__content{
        margin:$no-margin;
        display: flex;
        justify-content: center;
    }
    &__icone{
        display:block;
        font-size:$button-and-input-size;
        position: relative;
        left: 1.2rem;
        margin-right: 4rem;
        color:$input-text-color;
    }
    &__input{
        border: none;
        background-color:$input-color;
        width: 70%;
        &::placeholder{
            color:$input-text-color;
            font-weight:600;
        }
    }
}

/*button*/
button{
    @include button;
}
