/*input*/
.localisation {
  display: flex;
  padding: nth($padding-title-and-input, 1) 0rem;
  justify-content: center;
  background-color: $bgd-input;
  box-shadow: inset 0rem 0.5rem 1rem darken($bgd-input, 10%);
  &__form {
    width: 60%;
  }
  &__content {
    margin: $no-margin;
    display: flex;
    justify-content: center;
  }
  &__icone {
    display: block;
    font-size: $size-button-input;
    position: relative;
    left: 1.2rem;
    margin-right: 4rem;
    color: $colortxt-input;
  }
  &__input {
    border: none;
    background-color: $bgd-input;
    width: 70%;
    &::placeholder {
      color: $colortxt-input;
      font-weight: 600;
    }
  }
}

/*button*/
.accueil__btn {
  position: relative;
  &__elemnt {
    width: 80%;
    position: absolute;
    @include button;
    opacity: 1;
    transition: opacity 1000ms;
    outline-style: none;
    &:hover {
      opacity: 0;
    }
    &:active {
      opacity: 0;
    }
  }
  &__elemnt__bgd {
    width: 80%;
    @include button-lighten;
  }
}

.menu__button {
  display: flex;
  justify-content: center;
  padding-top: $padding-menu-button;
  position: relative;
  &__elemnt {
    width: 53%;
    position: absolute;
    @include button;
    opacity: 1;
    transition: opacity 1000ms;
    outline-style: none;
    &:hover {
      opacity: 0;
    }
    &:active {
      opacity: 0;
    }
  }
  &__elemnt__bgd {
    width: 53%;
    @include button-lighten;
  }
}
