@font-face {
  font-family: "shrikhandregular";
  src: url("../../font/shrikhand-regular-webfont.woff2") format("woff2"),
    url("../../font/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../../font/roboto-regular-webfont.woff2") format("woff2"),
    url("../../font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: $no-margin;
  font-family: "robotoregular";
  width: auto;
}

body {
  .bloc {
    &__loading-spinner {
      position: fixed;
      top: 45%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(0vh);
      animation: bye-loading 1000ms 3500ms;
      animation-fill-mode: forwards;
      &__txt {
        font-family: "shrikhandregular";
        display: inline-block;
        text-align: center;
        width: 40%;
        overflow: hidden;
        margin: 0 auto;
        width: 160px;
        @include lg {
          width: 250px;
        }
        span {
          background-color: rgba(19, 19, 19, 0.863);
          color: $bgd-white;
          font-size: 1.2rem;
          display: block;
          padding: 0.5rem;
          border: rgb(110, 110, 110) solid 0.2rem;
          border-radius: 50%;
          transform-origin: left;
          transform: translateX(-101%) scaleY(0);
          opacity: 0;
          animation: txt-loading 3000ms 500ms ease-in-out;
          animation-fill-mode: both;
          @include lg {
            font-size: 1.9rem;
          }
        }
      }
      &__content {
        display: flex;
        justify-content: center;
        margin-top: 0.7rem;
        &1 {
          @include animation-dots;
          margin-right: 1rem;
          background: linear-gradient(
            to right,
            lighten($color-secondary, 10%),
            30%,
            $color-secondary
          );
          animation: loading-spinner $A-duration 100ms 2 ease-in-out;
        }
        &2 {
          @include animation-dots;
          margin-right: 1rem;
          background: linear-gradient(
            to right,
            $color-secondary,
            30%,
            $color-primary
          );
          animation: loading-spinner $A-duration 500ms 2 ease-in-out;
        }
        &3 {
          @include animation-dots;
          background: linear-gradient(
            to right,
            $color-primary,
            40%,
            darken($color-primary, 13%)
          );
          animation: loading-spinner $A-duration 800ms 2 ease-in-out;
        }
      }
    }
    &__main {
      animation: bloc-main 500ms 4000ms;
      animation-fill-mode: both;
      opacity: 1;
    }
  }
}

main {
  button {
    font-size: $size-button-input;
    font-family: "robotoregular";
    @include xsm {
      font-size: 0.95rem;
    }
    @include xl {
      font-size: 1.2rem;
    }
  }
  input {
    font-size: $size-button-input;
  }
}
.main__pages {
  @include xl {
    margin: 0 auto;
    width: 992px;
  }
}
h1 {
  font-family: "shrikhandregular";
  font-size: $size-title-primary;
  @include xl {
    font-size: $xl-size-title-primary;
  }
}
h2 {
  font-size: $size-title-secondary;
  @include xl {
    font-size: 1.8rem;
  }
}
h3 {
  font-size: $size-title-tertiary;
}
.footer__title {
  font-family: "shrikhandregular";
}
