.image {
  margin: $no-margin;
  width: 100%;
  overflow: hidden;
  height: 16rem;
  &__photo {
    width: 100%;
    &--change {
      transform: translateY(-30%);
    }
  }
}
.bloc {
  background-color: $bgd-accueil;
  .menu {
    background-color: $bgd-accueil;
    flex-direction: column;
    border-radius: $radius-menu;
    &__title {
      font-family: "shrikhandregular";
      font-size: $size-pages-titles;
      background-color: $bgd-accueil;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: $no-margin;
      border-radius: $radius-menu;
      padding-top: $paddingtop-menu-title;
      position: relative;
      bottom: 2.5rem;
      &__txt {
        margin-left: 1rem;
      }
    }
    &__heart {
      position: relative;
      bottom: 0.3rem;
      right: 2rem;
      font-family: "robotoregular";
      &__icone1 {
        position: absolute;
        bottom: 0;
        @include normal-hearts;
        color: $bgd-accueil;
        opacity: 1;
        transition: opacity 800ms;
        &:hover {
          opacity: 0;
        }
      }
      &__icone2 {
        font-size: 1.5rem;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &__recette {
      padding: $padding-menu-recette;
      position: relative;
      bottom: 2rem;
      &__subtitle {
        align-self: flex-start;
        margin-top: $margintop-menu-subtitle;
        margin-bottom: $no-margin;
        color: $colortxt-input;
      }
      &__underscore {
        &__icone {
          display: inline-block;
          transform: scale(3, 1);
          position: relative;
          left: 0.9rem;
          bottom: 0.3rem;
          color: $color-tertiary;
        }
      }
      &__content {
        display: flex;
        margin-bottom: $maringbot-menu-content;
        font-size: $size-menu-txt;
        overflow: hidden;
        border-radius: $radius-menu-content-bloc;
        background-color: $bgd-white;
        @include bloc-shadow;
        cursor: pointer;
        &1 {
          opacity: 1;
          transform: translateY(0);
          animation: content-anim 1000ms 100ms;
          animation-fill-mode: both;
        }
        &2 {
          opacity: 1;
          transform: translateY(0);
          animation: content-anim 1000ms 500ms;
          animation-fill-mode: both;
        }
        &3 {
          opacity: 1;
          transform: translateY(0);
          animation: content-anim 1000ms 800ms;
          animation-fill-mode: both;
        }
        &4 {
          opacity: 1;
          transform: translateY(0);
          animation: content-anim 1000ms 1100ms;
          animation-fill-mode: both;
        }

        &:hover {
          .menu__recette__price {
            transform: translateX(0);
            animation: check-box 600ms ease-in-out;
            animation-fill-mode: both;
          }
          .menu__recette__check {
            margin-right: $no-margin;
            transform: translateX(0);
            animation: check-box 600ms;
            animation-fill-mode: both;
            span {
              transform: rotate(3turn);
            }
          }
        }
      }
      &__text {
        background-color: $bgd-white;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: $padding-menu-blocs;
        strong {
          font-size: $size-menu-strong-txt;
        }
        span {
          color: $colortxt-input;
        }
      }
      &__price {
        width: 10%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: bold;
        padding: 0 0.8rem nth($padding-menu-blocs, 3);
        transform: translateX(0);
      }
      &__check {
        background-color: $color-tertiary;
        width: 22%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $icone-menu-check;
        color: $bgd-white;
        margin-right: -20%;
        span {
          position: relative;
          right: 0.1rem;
          top: 0.1rem;
          transition: transform 500ms;
        }
      }
    }
  }
}
