@mixin bloc-shadow {
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.123);
}
@mixin animation-dots {
  width: $size-dot;
  height: $size-dot;
  border-radius: 50%;
  animation-fill-mode: both;
  transform: scale(0);
}
/*BUTTON*/
@mixin button {
  padding: $padding-button;
  border-radius: $radius-button;
  border: none;
  background: linear-gradient(-5deg, $color-primary 15%, $color-secondary);
  color: $colortxt-button;
  @include bloc-shadow;
}
@mixin button-lighten {
  padding: $padding-button;
  border-radius: $radius-button;
  border: none;
  background: linear-gradient(
    -5deg,
    lighten($color-primary, 15%) 15%,
    lighten($color-secondary, 15%)
  );
  color: $colortxt-button;
  @include bloc-shadow;
}
/*-------------------------------*/
@mixin normal-hearts {
  font-size: $icone-heart;
  -webkit-text-stroke: 0.07rem black;
}
@mixin links {
  text-decoration: none;
}
/*------------------------------*/
/*MEDIAS QUERIES*/

/*x-small*/
@mixin xsm {
  @media screen and (min-width: #{$screen-xsm-min}) and (max-width:#{$screen-xsm-max}) {
    @content;
  }
}
/*small*/
@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

/*medium*/
@mixin md-and-lg {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

/*x-large*/
@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}
/*-------------------------*/
/*RESPONSIVE MIXIN*/
@mixin wrapper-operation {
  margin: 0 auto;
  width: 400px;
}
/*button*/
@mixin sm-wrapper-button {
  width: 320px;
  margin: 0 auto;
}
/*footer*/
@mixin footer-center {
  text-align: center;
  padding: $sm-padding-footer;
}
