/*Size*/
$size-maintxt: 1.3rem;
$size-title-primary: 6rem;
$size-title-secondary: 4rem;
$size-title-tertiary: 2.8rem;
$size-button-input: 2.9rem;
$size-restau-txtcontent: 3.3rem;
$size-opera-number: 2.2rem;
$icone-heart: 4rem;
$icone-operation: 2.8rem;
$icone-footer: 2.2rem;

/*padding*/
$no-padding: 0;
/*---------------------------*/
/*ohmyfood-title and input*/
$padding-title-and-input: 3rem 5rem; /* list: nth($nomdelaliste, position de la valeur souhaité)*/
/*--------------------------*/
$padding-footer: 3rem 0 4rem 6rem; /*list*/
$padding-button: 3rem 5rem;
$padding-accueil: 3rem 6rem 10rem;
$padding-restau-etiquette: 0.8rem 2rem;
/*--------------------------*/
/*restau-legend-text*/
$padding-restaulegend-content: 2rem;
$padding-icone-footer: 1.5rem;
$padding-icone-footer--spé: 2.3rem;
$padding-opera-element: 2.5rem;
$padding-section: 3.5rem 2rem 3.5rem 2rem;

/*margin*/
$no-margin: 0;

/*border*/
$radius-button: 5rem;
$radius-etiquette: 0.5rem;
$radius-bloc-restau: 4rem;

/*color*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$bgd-input: rgb(219, 215, 206);
$bgd-accueil: rgb(248, 248, 236);
$bgd-footer: rgb(32, 32, 32);
$colortxt-input: rgb(95, 95, 95);
$colortxt-button: white;
$colortxt-footer: white;

/*height bloc*/
$height-bloc-restau: 32rem;
