.footer{
    background-color:$footer-bgd;
    color:$footer-text;
    padding:$padding-footer;
    &__title{
        font-weight: normal;
    }
    &__ul{
        list-style-type: none;
        padding:$no-padding;
    }
    &__li{
        padding-bottom: 0.6rem;
        &--icone{
            position: relative;
            left: 3.5rem;
        }
        &--spé{
            position: relative;
            left: 4rem;
        }
    }
}