.footer {
  background-color: $bgd-footer;
  color: $colortxt-footer;
  padding: $padding-footer;
  @include sm {
    @include footer-center;
  }
  &__title {
    font-weight: normal;
    font-size: $size-footer-title;
    @include md-and-lg {
      font-size: $md-size-footer-title;
    }
  }
  &__ul {
    list-style-type: none;
    padding: $no-padding;
  }
  &__li {
    padding-bottom: 0.6rem;
    font-size: 1rem;
    @include md-and-lg {
      font-size: $md-size-footer;
    }
    a {
      @include links;
      color: $bgd-white;
    }
    &-icone {
      display: inline-block;
      font-size: $icone-footer;
      margin-right: $padding-icone-footer;
      transform: rotate(-15deg);
      @include sm {
        margin-right: $sm-margin-footer-icones;
      }
      @include md-and-lg {
        font-size: $md-size-footer-icone;
      }
      &--spé {
        margin-right: $padding-icone-footer--spé;
        transform: rotate(0deg);
        @include sm {
          margin-right: $sm-margin-footer-icone-spé;
        }
      }
    }
  }
}
